@import './variables';
@import './mixins';
*{
    padding: 0;
    margin: 0;
};
html,body{
    height: 100vh;
    width: 100vw;
    font-family: $font-stack;
    font-size: 0.9rem;
};
li{
    list-style: none;
    display: inline-block;
};
.photo--small{
    @include photo(2.5rem,2.5rem,50%);
};
.photo--medium{
    @include photo(15rem,7rem)
}
